/* For overriding some of the BootStrap CDN styles with my own */
/*

body {
    background-color: black;
}

.container {
    width: 1000px;
    height: auto;
}

.header {
    height: 35px;
}

.nav li {
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
}

.nav ul li:hover {
    background-color: gray;
}

.nav li a {
    padding: 7px 15px;
}

.text-muted {
    color: white;
    padding-top: 5px;
}

.TEMP {
    color: red;
}

*/



/***    Form Styles    ***/

  .form-container {
    padding: 10px;
}

.form {
	max-width: 750px;
	margin: 30px auto;
	border: 1px solid black;
	border-radius: 15px;
	padding: 20px;
}

.form-header {
	display: flex;
	justify-content: center;
	padding-bottom: 25px;
}

.col-sm-3 {
    padding-top: 8px;
	padding-left: 45px;
}

.col-sm-9 {
	padding-right: 45px;
}

.form-button {
    width: 115px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: rgb(0, 100, 255);
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 0 5px #999;
}
.form-button:hover {
	background-color: rgb(35, 145, 255);
	color: #FFF;
}

.form-button:active {
	background-color: rgb(35, 145, 255);
	color: #FFF;
	box-shadow: 0 3px #666;
	transform: translateY(3px);
}